html, body {
  height: 100vh;
  // margin-top: 50px;
} 


.hero-body.home {
  background-image: url('https://i.pinimg.com/originals/3d/19/c9/3d19c996597e23e9a27b71df08e7a33f.gif');
  background-size: contain;
  background-position: center;
}